<!DOCTYPE html>
<head>
    <title>CATCA</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
    <nav>
        <div class="logo">
            <h4>Dashboard</h4>
        </div>
        <ul class="navlinks">
            <li>
                <a href="#">Twitter &#x25BC;</a>
                <ul class= "sub">
                    <li>
                        <button class="tab" id="TDate">By Day</button>
                    </li>
                    <li>
                        <button class="tab" id="TTerm">By Term</button>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Covid &#x25BC;</a>
                <ul class= "sub">
                    <li>
                        <button >By Day</button>
                    </li>
                    <li>
                        <button>By Country</button>
                    </li>
                    <li>
                        <button>By Day and Country</button>
                    </li>
                    <li>
                        <button>By Range</button>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Compare &#x25BC;</a>
                <ul class= "sub">
                </ul>
            </li>
            <li>
                <a href="#">Statistics &#x25BC;</a>
                <ul class= "sub">
                </ul>
            </li>
        </ul>
    </nav>

    <div id="tterm" class="tabcontent">
        <input type="text" name="name" autocomplete="off" required id="searchTerm">
        <label for="name" class="label-name" >
            <span class="content-name">Enter a term:</span>
        </label>
        <button id="byTermBtn" class="btn">SEARCH</button> 
    </div>

    <p id="byTermBtn-out" class="out"></p>





    <div id="tdate" class="tabcontent">
        <input type="text" name="name" autocomplete="off" required id="searchDate">
        <label for="name" class="label-name" >
            <span class="content-name">Enter a Date (yyyy-m-d):</span>
        </label>
        <button id="byDateBtn" class="btn">SEARCH</button> 
    </div>
    <p id="byDateBtn-out" class="out"></p>






    <script src="./js/main.js"></script>  
    <script src="./js/byTerm.js"></script>
    <script src="./js/byDate.js"></script>
    <script src="./js/button.js"></script>
    
      
</body>
