*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color: #212121;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

nav{
  display:inline;
  position: fixed;
  top: 0;
  left:0;
  right:0;
  z-index: 9999;
  height: 64px;
  background-color: #333333;
  font-family: 'Open Sans', sans-serif;
}

.logo a{
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
  line-height: 55px;
  float: left;
  padding: 0px 20px;
  font-weight: bold;
  text-decoration: none;
}

#home-page{
  display:flex;
  flex-direction: row;
  position: relative;
  height:100%;
  margin-top:100px;
  overflow: hidden;
  flex-wrap: wrap;
}

canvas{
  background-color: #111111;
  border-radius: 10px 10px 10px 10px;
  border: 5px solid #555555;
}

.graph{
  width:50%;
  padding:5px;
}

.hometext{
  font-size:50px;
  color: whitesmoke;
}

#homepagenum{
  font-size:50px;
  color:#5fa8d3;
  font-weight:bold;
}

.break {
  flex-basis: 100%;
  height: 0;
}

#hometexttwitter,
#ratio{
  text-align : center;
}

#hometexttwitterterm{
  text-align : center;
  font-size:50px;
  color:#5fa8d3;
  font-weight:bold;
}



nav ul{
  float:left;
}

nav ul li{
  float:left;
  list-style: none;
  position: relative;
}

nav ul li a {
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 18px 18px;
  display:block;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #777777;
  transition: all 0.34s;
}

nav ul li button {
  background-color: #333333;
  color:whitesmoke;
  letter-spacing: 2px;
  padding: 20px 20px;
  font-size: 16px;
  display:block;
  text-decoration: none;
  border:none;
  margin:0;
}

nav ul li button:hover {
  background-color: #777777;
  transition: all 0.3s;
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: #333333;
  padding:5px;
  border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul{
  display: block;
}

nav ul li ul li {
  width: 275px;
  border-radius: 4px;
}

nav ul li ul li button{
  display: block;
  padding: 10px 16px;
  background-color: #333333;
  width: 100%;
  text-align: left;
}

nav ul li ul li button:hover{
  display: block;
  padding: 10px 16px;
  background-color: #777777;
}

.tabcontent{
  display:none;
  flex-direction: column;
  position: relative;
  height:60px;
  margin-top:100px;
  overflow: hidden;
}
#tterm,
#tdate,
#cdate,
#ccountry,
#cdandc-1,
#cdandc-2,
#crange-1,
#crange-2,
#crange-3,
#crange-btn,
#cdandc-btn{  
  align-self:center;
}

.tabcontent input{
  width:600px;
  height:100%;
  color:whitesmoke;
  padding-top:20px;
  border: none;
  background-color: #212121;
  outline: none;
  caret-color: transparent;
  font-family: 'Open Sans', sans-serif;
}

.tabcontent label{
  position:absolute;
  bottom:0px;
  left:0%;
  width:600px;
  height:100%;
  pointer-events: none;
  border-bottom: 1px solid #555555;
  color:whitesmoke;
}

.tabcontent label::after{
  content: "";
  position: absolute;
  left: 0px;
  bottom:-1px;
  height:100%;
  width:100%;
  border-bottom: 3px solid #5fa8d3;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content-name {
  position:absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.tabcontent label:focus + .label-name .content-name,
.tabcontent input:valid + .label-name .content-name{
  transform: translateY(-150%);
  font-size: 14px;
  color: #5fa8d3;
}

.tabcontnet input:focus + .label-name::after,
.tabcontnet input:valid + .label-name::after{
  transform: translateX(0%);
}

.tabcontent button{
  position: relative;
  background-color: #212121;
  height: 40px;
  width: 100px;
  border-radius: 0 25px 25px 0;
  border: 2px solid #5fa8d3;
  outline: none;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2px;
  color: #5fa8d3
}

.tabcontent button:hover{
  color: #5598be;
  border: 2px solid #5598be;
}

.out{
  display:none;
  color:whitesmoke;
  margin-top: 100px;
  font-size: 40px;
  font-weight: bolder;
  position: relative;
  justify-items:center;
  justify-content: center;
  justify-self:center;
}
#term{
  text-decoration: underline;
  text-decoration-color:#5598be;
}
#num {
  color:#5598be;
  font-size: 40px;
  font-weight: bolder;
}

#cdandc-2{
  margin-top:20px;
}

#cdandc-btn{
  margin-top:40px;
}

#bycdandcBtn{
  position: relative;
  background-color: #212121;
  height: 40px;
  width: 100px;
  border-radius: 25px 25px 25px 25px;
  border: 2px solid #5fa8d3;
  outline: none;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2px;
  color: #5fa8d3
}

#bycdandcBtn button:hover{
  color: #5598be;
  border: 2px solid #5598be;
}

#crange-2{
  margin-top:20px;
}

#crange-btn{
  margin-top:40px;
}

#byrangeBtn{
  position: relative;
  background-color: #212121;
  height: 40px;
  width: 100px;
  border-radius: 25px 25px 25px 25px;
  border: 2px solid #5fa8d3;
  outline: none;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2px;
  color: #5fa8d3
}

#byrangeBtn button:hover{
  color: #5598be;
  border: 2px solid #5598be;
}

#info{
  color: #5598be;
}

#fadein{
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#fadein:nth-child(2){
  animation-delay: 0.5s;
}
#fadein:nth-child(3){
  animation-delay: 1s;
}
#fadein:nth-child(4){
  animation-delay: 1.5s;
}
#fadein:nth-child(5){
  animation-delay: 2s;
}
#fadein:nth-child(6){
  animation-delay: 2.5s;
}
#fadein:nth-child(7){
  animation-delay: 3s;
}
#fadein:nth-child(8){
  animation-delay: 3.5s;
}
#fadein:nth-child(9){
  animation-delay: 4s;
}
#fadein:nth-child(10){
  animation-delay: 4.5s;
}
#fadein:nth-child(11){
  animation-delay: 5s;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

#crange-3{
  margin-top: 30px;
}

#CsearchRange3{
  background-color: #212121;
  border:none;
  width:600px;
  height:60px;
  color:whitesmoke;
}

#CsearchRange3:after{
  border:none;
}

.form-control:focus{
 outline: 0 !important;
 box-shadow: none!important;
}


#info2{
  font-size: 90px;
  color: #5598be;
}

#byrangeBtn-out{
  margin-top: 20px;
}

